<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Cocktail Recipe</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="nav-bar">
        
        <h2><a href="/">Random</a></h2>
        <h2><a href="/favorites">Favorites</a></h2>
        <div class="search-container">
            <h2>Search</h2>
            <div class="sub-nav">
                <a href="/ingredient/rum">Rum</a>
                <a href="/ingredient/whiskey">Whiskey</a>
                <%# <a href="/ingredient/whisky">Whisky</a> %>
                <a href="/ingredient/tequila">Tequila</a>
                <a href="/ingredient/gin">Gin</a>
                <a href="/ingredient/vodka">Vodka</a>
            </div>
        </div>
        
        <img id="fav-icon" src="/favorite-icon.png" alt="favorite-icon">

    </div>

    <div class="container">
        <div class="drink-title">
        <h1><%= cocktail.strDrink %></h1>
        </div>

        <div>
        <img src="<%= cocktail.strDrinkThumb %>" alt="<%= cocktail.strDrink %>">
        </div>

        <div class="ingred-instruct">

            <div>
                <h2>Ingredients:</h2>
                <ul>
                    <% for (let i = 1; i <= 15; i++) { %>
                        <% if (cocktail['strIngredient' + i]) { %>
                            <li><%= cocktail['strIngredient' + i] %> - <%= cocktail['strMeasure' + i] %></li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
            
            <h2>Instructions:</h2>
            <p><%= cocktail.strInstructions %></p>
        </div>

        <button id="new-cocktail">Get Another Cocktail</button>
    </div>
    <script src="/script.js"></script>
</body>
</html>