<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Cocktail Recipe</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="nav-bar">
        <h2><a href="/">Random</a></h2>
        <h2><a href="/favorites">Favorites</a></h2>
        <div class="search-container">
            <h2>Search</h2>
            <div class="sub-nav">
                <a href="/ingredient/rum">Rum</a>
                <a href="/ingredient/whiskey">Whiskey</a>
                <%# <a href="/ingredient/whisky">Whisky</a> %>
                <a href="/ingredient/tequila">Tequila</a>
                <a href="/ingredient/gin">Gin</a>
                <a href="/ingredient/vodka">Vodka</a>
            </div>
        </div>
    </div>

    <h1>Cocktails with <%= ingredient %></h1>

    <%# set class to favorites-container so it has the same layout as the favorites page %>
    <div class="favorites-container">
        <% if (cocktails.length > 0) { %>
            <% cocktails.forEach(cocktail => { %>
                <div class="cocktail-card">
                    <a href="/cocktail/api/<%= cocktail.idDrink %>">
                        <img src="<%= cocktail.strDrinkThumb %>" alt="<%= cocktail.strDrink %>">
                        <h2><%= cocktail.strDrink %></h2>
                    </a>
                </div>
            <% }) %>
        <% } else { %>
            <p>No cocktails found for <%= ingredient %>.</p>
        <% } %>
    </div>
   
    <script src="/script.js"></script>
</body>
</html>